@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');


body {
    background-color: hsl(30, 38%, 92%);
}

section {
    display: flex;
    height: 490px;
    width: 650px;
    border: 1px solid;
    gap: 30px;
    background-color: hsl(0, 0%, 100%);
    margin: 250px auto;
    border-radius: 9px;

}

button {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 10px;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;

}

h2 {
    color: green;
    font-size: 30px;
    font-family: 'Fraunces', serif;
}

.work h3 {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Fraunces', serif;
}

.work h4 {
    color: rgb(156, 139, 139);
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
}

.work p {
    font-weight: 300;
    color: hsl(35, 9%, 59%);
}
